html,
body {
  background-color: #2b2a33;
  min-height: 100vh;
  overflow-y: hidden;
}

#earth {
  max-height: 50vh;
  overflow: hidden;
  overflow-y: auto; 
  overflow-x: hidden;
}

#earth .message-body {
  font-size: larger;
}

.panel a {
  background-color: #ebf6f1;
  justify-content: space-evenly;
  flex-direction: row;
  font-weight: bolder;
}
