body {
    background-color: #2b2a33;
    height: 100vh;
}

#earth {
    display: grid;
    place-items: center;
    height: 50vh;
    width: 50%;
    grid-template-columns: repeat(10, 16px);
    grid-template-rows: repeat(10, 16px);
}

#earth div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16px;
    height: 16px;
}

.cell {
    font-size:larger;
}
